* {
    box-sizing: border-box;
}

body {
    background-repeat  : no-repeat;
    columns            : pink;
    height             : 450px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    background-color   : #cccccc;
}

.container {
    display: grid;
}

.head-title {
    position     : relative;
    align-content: center;

}

.index-main {
    background-image: url("assets/vecteezy/oceanMain.svg");
    color           : navy;
}

.index-game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: auto;
    background-image: url("assets/vecteezy/oceanGame.svg");
    color           : navy;
}



#letter-button {
    visibility: hidden;
}

.svg-credits-main {
    position: absolute;
    bottom  : 0;
    left    : 0;
    color   : rgba(0, 255, 255, 0.308);
}

.svg-credits-game {
    position: absolute;
    bottom  : 0;
    left    : 0;
    color   : rgba(124, 143, 248, 0.411);
}