* {
    box-sizing: border-box;
}

body {
    background-repeat  : no-repeat;
    columns            : pink;
    height             : 450px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    background-color   : #cccccc;
}

.index-main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background-image: url("assets/vecteezy/oceanMain.svg");
    color           : rgb(17, 138, 160);
    font-family     : "Comic Sans MS", "Comic Sans", cursive;
    font-size       : xx-large;
    font-weight     : bolder;
}

.index-game {
    display              : grid;
    grid-template-columns: auto;
    grid-template-rows   : 30px 200px 100px 10px 10px 10px 10px;
    background-image     : url("assets/vecteezy/oceanGame.svg");
    color                : navy;
}

.top-row-main {
    display              : grid;
    grid-template-columns: 6fr 2fr .5fr;
    align-items          : top;
    justify-items        : center;
}

.top-row {
    display              : grid;
    grid-template-columns: 6fr 1fr 1fr;
    align-items          : top;
    justify-items        : center;
}

.game-title {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size  : xx-large;
    font-weight: bolder;
}

.start-game-button {
    max-width : 30px;
    max-height: 25px;
}

.end-game-button {
    max-width : 35px;
    max-height: 25px;
}

.shark-scuba-container {
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1.5fr;
    grid-template-rows   : auto;
    justify-items        : center;
    align-items          : center;
    /* max-width         : 50px;
    max-height           : 50px;
    max-block-size       : 50px;
    max-inline-size      : 50px; */

}

.shark-container-one img {
    max-width  : 100%;
    max-height : auto;
    align-items: baseline;

}

.shark-container-two img {
    max-width : 100%;
    max-height: auto;
}

.shark-container-three img {
    max-width : 100%;
    max-height: auto;
}

.shark-container-four img {
    max-width : 100%;
    max-height: auto;
}

.scuba-container img {
    max-width      : 100%;
    max-height     : auto;
    justify-content: baseline;
    opacity        : 100%;
}

.letter-dash-container {
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
}

.letter-button-container {}

.svg-credits-main {
    position   : absolute;
    bottom     : 0;
    left       : 0;
    color      : rgba(0, 255, 255, 0.308);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size  :xx-small;
    font-weight: 100;
}

.svg-credits-game {
    position: absolute;
    bottom  : 0;
    left    : 0;
    color   : rgba(124, 143, 248, 0.411);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size  :xx-small;
    font-weight: 100;
}

#letter-button {
    visibility: hidden;
}

#shark-container-one {
    visibility: hidden;
}

#shark-container-two {
    visibility: hidden;
}

#shark-container-three {
    visibility: hidden;
}

#shark-container-four {
    visibility: hidden;
}

#scuba-container {
    visibility: hidden;
}