* {
    box-sizing: border-box;
}

body {
    background-repeat  : no-repeat;
    columns            : pink;
    height             : 450px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    background-color   : #cccccc;
}

.index-main {
    background-image: url("assets/vecteezy/oceanMain.svg");
    color           : navy;
}

.index-game {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 45px 25px 100px 100px 100px 100px 100px;
    background-image: url("assets/vecteezy/oceanGame.svg");
    color           : navy;
}

.game-title {
    display: grid;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: xx-large;
}

.start-game-button {
    display: grid;
    max-width: 30px;
    max-height: 25px;
}

.shark-scuba-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    max-width: 50px;
    max-height: 50px;
    max-block-size: 50px;
    max-inline-size: 50px;

}

.shark-container-one img{
    max-width: 100%;
    max-height: auto;
}

.shark-container-two img{
    max-width: 100%;
    max-height: auto;
}

.shark-container-three img{
    max-width: 100%;
    max-height: auto;
}

.shark-container-four img{
    max-width: 100%;
    max-height: auto;
}

.scuba-container img{
    max-width: 100%;
    max-height: auto;
}

/* .letter-dash-container {
    display: grid;
    max-width: 10px;
    max-height: 10px;
} */

.letter-button-container{
    display: grid;
    max-width: 20px;
    max-height: 20px;
}

.end-game-button{
    display: grid;
    max-width: 35px;
    max-height: 25px;
}

.svg-credits-main {
    position: absolute;
    bottom  : 0;
    left    : 0;
    color   : rgba(0, 255, 255, 0.308);
}

.svg-credits-game {
    position: absolute;
    bottom  : 0;
    left    : 0;
    color   : rgba(124, 143, 248, 0.411);
}

#letter-button {
    visibility: hidden;
}